.clear {
    clear: both;
}

.boxes-container.vertical {
    display: block;
    padding: 30px;
    width: 280px;
    height: 400px;
    overflow: scroll;
}

.boxes-container.grid > .box {
    float: left;
}

.boxes-container > .box {
    margin-right: 30px;
    margin-top: 30px;
}

.box {
    padding: 15px;
    width: 235px;
    height: 165px;
    border: 2px solid #AFB7B8;
    border-radius: 6px;
    background-color: #ffffff;
    cursor: pointer;
}

.box:active {
    border: 2px solid #36E6FF;
    background-color: #EBFDFF;
}

.box-title, .box-subtitle {
    text-align: center;
    font-family: sans-serif;
}

.box-title {
    font-size: 18px;
    color: #4a5256;
}

.box-subtitle {
    font-size: 15px;
    color: #828c91;
}

.box-title-wrapper {
    margin-top: 60px;
}